// Custom styles.
//body {
//  background:url(/images/background.jpg);
//  background-attachment: fixed;
//}

.mybtn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #222;
    background: #fff;
    border: 2px solid #222;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
}

.mybtn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}


//点击加载disqus按钮样式
.disbtn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    background: #222;
    border: 2px solid #222;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
}

.disbtn:hover {
  border-color: #222;
  color: #222;
  background: #fff;
}
.img-content ul{
    width:auto;
    margin:0 auto;
    padding:0;
}

.img-content ul li{
  display:inline-block;
  width: 270px;
  height: 357px;
  overflow: hidden;
  margin:auto;
  padding: 1px;
}

.img-content ul li img{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  float: left;0
  padding: 0 10px;
}
